---
import type { ImageMetadata } from "astro";
import { Image, getImage } from "astro:assets";
const { imageFolder }= Astro.props;

const imagesImportFns = import.meta.glob<{default: ImageMetadata}>(
    "/src/assets/gallery/**/*.{jpeg,jpg,png,gif}",
    { eager: true }
);
const imagePaths = Object.keys(imagesImportFns).filter((imagePath) => {
    return imagePath.startsWith(`/src/assets/gallery/${imageFolder}`)
}).sort((a, b) => {
    const getNumber = (path: string) => {
      const match = path.match(/(\d+)/);
      return match ? parseInt(match[1], 10) : 0;
    };
    return getNumber(a) - getNumber(b);
});
---

<section class="gallery" id="gallery">
    {
        imagePaths.map(async (imagePath: any) => {
            const imageModule = imagesImportFns[imagePath];
            const image = imageModule.default;
            return (
                <a 
                    href={image.src}
                    data-pswp-width={image.width}
                    data-pswp-height={image.height}
                    data-cropped="true"
                    target="_blank"
                    class="gallery__item">
                        <Image src={image} alt="" loading="lazy"></Image>
                </a>
            )
        })
    }
</section>

<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";

    const lightbox = new PhotoSwipeLightbox({
        gallery: "#gallery",
        children: "a",
        pswpModule: () => import("photoswipe"),
        bgOpacity: 0.8,
    });

    lightbox.init();
</script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".gallery__item img").forEach((img) => {
      if (img.complete) {
        img.classList.add("is-loaded");
      } else {
        img.addEventListener("load", () => {
            img.classList.add("is-loaded");
        });
      }
    });
  });
</script>

<style>
    .gallery {
        column-count: 3;
        column-gap: var(--spacing-xxs);
        margin: 0 auto 80px auto;
    }

    /* Tablet */
    @media (max-width: 900px) {
        .gallery {
            column-count: 2;
        }
    }

    /* Mobile */
    @media (max-width: 600px) {
        .gallery {
            column-count: 1;
        }
    }

    .gallery__item {
        display: block;
        margin-bottom: var(--spacing-xxs);
        break-inside: avoid;
    }

    .gallery__item img {
        width: 100%;
        height: auto;
        display: block;

        filter: grayscale(100%) blur(6px);
        opacity: 0.7;
        transition: all 0.8s ease;
    }

    .gallery__item img.is-loaded {
        filter: none;
        opacity: 1;
    }
</style>
