<header class="header">
    <div class="header__top">
        <a class="logo" href={import.meta.env.BASE_URL}>livensmi1e</a>
        <button class="hamburger" type="button">
            <span class="burger">/open-menu</span>
            <span class="cancel">/cancel</span>
        </button>
    </div>

    <ul class="navbar">
        <li><a class="navbar__link" href={`${import.meta.env.BASE_URL}/writings/`}>/writings</a></li>
        <li><a class="navbar__link" href={`${import.meta.env.BASE_URL}/photos/`}>/photos</a></li>
        <li><a class="navbar__link" href={`${import.meta.env.BASE_URL}/ideas/`}>/ideas</a></li>
        <li><a class="navbar__link" href={`${import.meta.env.BASE_URL}/misc/`}>/misc</a></li>
    </ul>
</header>

<style>
    .header {
        display: flex;
        flex-direction: column;
        padding: var(--spacing-md) 0;
        gap: var(--spacing-sm);
    }

    .header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        display: none;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: var(--spacing-sm);
    }

    .navbar.active {
        display: flex;
    }

    .logo {
        font-size: var(--font-xl);
        font-weight: 600;
    }

    .logo:hover {
        color: var(--color-accent);
    }

    .navbar__link {
        font-weight: 500;
        font-size: var(--font-lg);
    }

    .navbar__link:hover {
        color: var(--color-accent);
    }

    .navbar__link {
        padding: 0 var(--spacing-sm);
    }

    .hamburger {
        font-size: var(--spacing-md);
        background: none;
        border: none;
        cursor: pointer;
        display: block;
        font: inherit;
        color: inherit;
    }

    .hamburger .cancel {
        display: none;
    }

    .hamburger.active .burger {
        display: none;
    }

    .hamburger.active .cancel {
        display: inline;
    }

    @media (min-width: 768px) {
        .header {
            padding: var(--spacing-lg) 0;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }

        .logo {
            font-size: var(--font-xl);
        }

        .navbar {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-xl);
        }

        .navbar__link {
            padding: 0;
        }

        .navbar__link {
            font-size: var(--font-lg);
        }

        .hamburger {
            display: none;
        }
    }
</style>

<script>
    import "../scripts/menu-toggle.js";
</script>
